/* line 1, asiangemological/static/scss/style.scss */
.primary-btn {
  background: white;
  border-radius: 8px;
  width: fit-content;
  padding: 15px 34px;
  color: #251B21; }
  /* line 8, asiangemological/static/scss/style.scss */
  .primary-btn:hover {
    background: white;
    color: #251B21; }

/* line 15, asiangemological/static/scss/style.scss */
.s_hero_section {
  padding: 80px 0 100px 0;
  background: url("/static/img/submit-your-gem-bg.png");
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 21, asiangemological/static/scss/style.scss */
  .s_hero_section .hero-section {
    display: flex;
    flex-direction: row;
    gap: 200px; }
    /* line 26, asiangemological/static/scss/style.scss */
    .s_hero_section .hero-section .hero-text-section {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      /* line 31, asiangemological/static/scss/style.scss */
      .s_hero_section .hero-section .hero-text-section h1 {
        font-style: normal;
        font-weight: 900;
        font-size: 80px;
        line-height: 80px;
        letter-spacing: 0.01em;
        color: white; }
    /* line 41, asiangemological/static/scss/style.scss */
    .s_hero_section .hero-section .hero-text__description {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: white;
      margin: 24px 0 64px 0; }
    /* line 50, asiangemological/static/scss/style.scss */
    .s_hero_section .hero-section .hero-text__link {
      padding: 16px 64px;
      color: #251B21; }
      /* line 54, asiangemological/static/scss/style.scss */
      .s_hero_section .hero-section .hero-text__link:hover {
        text-decoration: none; }

/* line 63, asiangemological/static/scss/style.scss */
.s_navbar_section {
  background-color: white; }

/* css for service section */
/* line 68, asiangemological/static/scss/style.scss */
.s_services_section {
  background: white;
  padding: 100px 0 30px 0; }
  /* line 72, asiangemological/static/scss/style.scss */
  .s_services_section .services-section-heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-bottom: 52px;
    color: #251B21; }
  /* line 83, asiangemological/static/scss/style.scss */
  .s_services_section .service-section-cards {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0 150px; }
    /* line 89, asiangemological/static/scss/style.scss */
    .s_services_section .service-section-cards .service-card {
      flex-basis: 100%;
      background: #FFFFFF;
      padding: 32px;
      box-shadow: 0px 8px 16px rgba(98, 120, 227, 0.1);
      border-radius: 8px; }
      /* line 96, asiangemological/static/scss/style.scss */
      .s_services_section .service-section-cards .service-card__logo {
        margin-bottom: 18px; }
      /* line 100, asiangemological/static/scss/style.scss */
      .s_services_section .service-section-cards .service-card__title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        margin-bottom: 14px; }
      /* line 110, asiangemological/static/scss/style.scss */
      .s_services_section .service-section-cards .service-card__description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #797E94;
        margin-bottom: 43px; }
      /* line 119, asiangemological/static/scss/style.scss */
      .s_services_section .service-section-cards .service-card__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #1C1F32; }

/* css for service section ends */
/* css for image-text section */
/* line 133, asiangemological/static/scss/style.scss */
.s_image_text_section {
  background: white;
  padding: 100px 0 30px 0; }
  /* line 137, asiangemological/static/scss/style.scss */
  .s_image_text_section .image-text {
    display: flex;
    flex-direction: row; }
  /* line 142, asiangemological/static/scss/style.scss */
  .s_image_text_section .text-content {
    margin: 0 150px 0 0;
    display: flex;
    flex-direction: column; }
    /* line 147, asiangemological/static/scss/style.scss */
    .s_image_text_section .text-content__heading {
      font-weight: 700;
      font-size: 50px;
      line-height: 61px;
      letter-spacing: 0.01em;
      text-transform: capitalize;
      color: #251B21;
      text-align: left;
      margin-bottom: 42px; }
    /* line 158, asiangemological/static/scss/style.scss */
    .s_image_text_section .text-content__description {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: #797E94;
      margin-bottom: 20px; }
    /* line 167, asiangemological/static/scss/style.scss */
    .s_image_text_section .text-content__link {
      margin-top: 22px;
      color: white; }

/* css for image-text section ends*/
/* css for contact section */
/* line 177, asiangemological/static/scss/style.scss */
.s_contact_section {
  background: white;
  padding: 100px 0 50px 0; }
  /* line 181, asiangemological/static/scss/style.scss */
  .s_contact_section .contact-section {
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin: 0 150px; }
  /* line 188, asiangemological/static/scss/style.scss */
  .s_contact_section .contact-section-text {
    display: flex;
    flex-direction: column;
    gap: 23px; }
    /* line 193, asiangemological/static/scss/style.scss */
    .s_contact_section .contact-section-text__detail {
      display: flex;
      flex-direction: row;
      gap: 12px; }
  /* line 200, asiangemological/static/scss/style.scss */
  .s_contact_section .contact-section-heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 52px;
    color: #251B21; }

/* css for contact section ends*/
/* css for footer */
/* line 215, asiangemological/static/scss/style.scss */
footer {
  padding: 50px 0;
  background: #251B21; }
  /* line 219, asiangemological/static/scss/style.scss */
  footer .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    gap: 60px;
    padding-bottom: 61px;
    border-bottom: 1px solid #CED1E433; }
  /* line 229, asiangemological/static/scss/style.scss */
  footer .single-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: -webkit-fill-available; }
    /* line 235, asiangemological/static/scss/style.scss */
    footer .single-footer__heading {
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF; }
    /* line 243, asiangemological/static/scss/style.scss */
    footer .single-footer__description {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      color: #797E94;
      display: flex;
      flex-direction: column; }
    /* line 253, asiangemological/static/scss/style.scss */
    footer .single-footer__links {
      display: flex;
      flex-direction: column;
      gap: 17px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #CED1E4; }
      /* line 262, asiangemological/static/scss/style.scss */
      footer .single-footer__links a {
        color: #797E94; }
        /* line 265, asiangemological/static/scss/style.scss */
        footer .single-footer__links a:hover {
          text-decoration: none; }

/* css for verification page */
/* line 274, asiangemological/static/scss/style.scss */
.s_verification_section {
  padding-top: 100px; }
  /* line 277, asiangemological/static/scss/style.scss */
  .s_verification_section h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #251B21; }
  /* line 288, asiangemological/static/scss/style.scss */
  .s_verification_section .report-section {
    display: flex;
    flex-direction: column;
    background: #251B21;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 60px; }
    /* line 296, asiangemological/static/scss/style.scss */
    .s_verification_section .report-section h3 {
      font-weight: 500;
      font-size: 22px;
      line-height: 61px;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: capitalize;
      margin-bottom: 30px;
      color: white; }
    /* line 307, asiangemological/static/scss/style.scss */
    .s_verification_section .report-section .report-details {
      display: flex;
      flex-direction: row;
      gap: 30px;
      justify-content: space-evenly; }
      /* line 314, asiangemological/static/scss/style.scss */
      .s_verification_section .report-section .report-details img {
        height: 300px; }
      /* line 318, asiangemological/static/scss/style.scss */
      .s_verification_section .report-section .report-details .mid-section {
        display: flex;
        gap: 50px; }
      /* line 323, asiangemological/static/scss/style.scss */
      .s_verification_section .report-section .report-details p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        color: white; }

/* css for verification page ends */
@media only screen and (max-width: 600px) {
  /* line 338, asiangemological/static/scss/style.scss */
  .s_services_section,
  .s_review_section,
  .s_factilty_section,
  .s_image_text_section,
  .s_contact_section,
  footer {
    padding: 3.2rem 2.4rem; }
  /* line 347, asiangemological/static/scss/style.scss */
  h1 {
    font-size: 3rem; }
  /* line 351, asiangemological/static/scss/style.scss */
  .service-section-cards {
    flex-direction: column;
    gap: 32px;
    margin: 0; }
  /* line 357, asiangemological/static/scss/style.scss */
  .review-section-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0; }
  /* line 364, asiangemological/static/scss/style.scss */
  .hero-section {
    flex-direction: column;
    gap: 0; }
  /* line 369, asiangemological/static/scss/style.scss */
  .facility-images {
    flex-direction: column; }
  /* line 373, asiangemological/static/scss/style.scss */
  .image-text {
    flex-direction: column;
    gap: 0; }
  /* line 378, asiangemological/static/scss/style.scss */
  .text-content {
    margin: 0; }
  /* line 382, asiangemological/static/scss/style.scss */
  .contact-section {
    flex-direction: column;
    margin: 0;
    gap: 30px; }
  /* line 388, asiangemological/static/scss/style.scss */
  .footer-section {
    flex-direction: column; }
  /* line 392, asiangemological/static/scss/style.scss */
  .report-section {
    flex-direction: column; } }

@media only screen and (max-width: 1000px) {
  /* line 399, asiangemological/static/scss/style.scss */
  .s_services_section,
  .s_review_section,
  .s_factilty_section,
  .s_image_text_section,
  .s_contact_section,
  footer {
    padding: 3.2rem 2.4rem; }
  /* line 408, asiangemological/static/scss/style.scss */
  h1 {
    font-size: 3rem; }
  /* line 412, asiangemological/static/scss/style.scss */
  .service-section-cards {
    flex-direction: column;
    gap: 32px;
    margin: 0; }
  /* line 418, asiangemological/static/scss/style.scss */
  .review-section-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0; }
  /* line 425, asiangemological/static/scss/style.scss */
  .hero-section {
    flex-direction: column;
    gap: 0; }
  /* line 430, asiangemological/static/scss/style.scss */
  .facility-images {
    flex-direction: column; }
  /* line 434, asiangemological/static/scss/style.scss */
  .image-text {
    flex-direction: column;
    gap: 0; }
  /* line 439, asiangemological/static/scss/style.scss */
  .text-content {
    margin: 0; }
  /* line 443, asiangemological/static/scss/style.scss */
  .contact-section {
    flex-direction: column;
    margin: 0;
    gap: 30px; }
  /* line 449, asiangemological/static/scss/style.scss */
  .footer-section {
    flex-direction: column; }
  /* line 453, asiangemological/static/scss/style.scss */
  .report-section {
    flex-direction: column; } }
